*~
*.bak
*.sw[op]
*gz
*.Z
*.rpm
*.zip
*.deb
*.log

CMakeFiles/
CMakeCache.txt
_CPack_Packages/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
install_manifest.txt

/libmysqlslave.spec
*.a
/test_mysqlslave
/libmysqlslave-*.sh
